---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="flex justify-between items-center mb-8 max-w-3xl mx-auto px-5">
		<h1>Blog</h1>
		<ThemeToggle />
	</div>
</Layout>
